.message-list {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    /* deleted to remove ugly scrollbars when not needed */
    /* overflow: scroll; */
    background: var(--secondary-color);
    align-content: left;
    text-align: left;
    float: right;
    margin-bottom: 5%;
    
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.message-username {
    color: black;
    font-weight: 200;
    font-size: 16px;
}

@media screen and (max-width: 680px) {
    .message-list {
        margin-bottom: 10%;
    }
      }