.new-room-form {
    /* padding: 0 5px; */
    /* margin-left: 150px; */
    height: 10%;
    width: 20%; 
    background: var(--secondary-color);
    /* color: var(--main-text-color); */
    background-color: #6d7993;
    float: left;
    bottom: 0;
    position: fixed;
}

.new-room-form form {
    height: 100%;
    padding: 10px;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}

.new-room-form input {
    width: 135px;
    /* font-size: 16px; */
    background-color: #6d7993;
}

.new-room-form button {
    background: #6d7993;
    color: #fff;
    border: 0;
    width: 35px;
    height: 35px;
} 

.new-room-form button:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.new-room-form input::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
    color: #fff;
    font-size: 14px;
}

.new-room-form button {
    border: 0;
}