.rooms-list {
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--main-color);
    /* overflow: scroll; */
    width: 12%;
    height: 70%;
    float: left;
    clear: left;
    position: fixed;
    top: 15%;
}

.rooms-list ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    margin: 10px 0;
    padding: 4px;
}

.rooms-list h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    
 }

.rooms-list .room.active a {
    color: var(--secondary-color);
}