.send-message-form {
    background: var(--send-message-form);
    display: flex;
    clear: both;
    width: 85%;
    margin-left: 14%;
    position: fixed;
    bottom: 0;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}